/* 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

/* Start Section-1 */
@media (max-width: 576px) {
    .master .changed-section .sec-1 .content h1 {
        font-size: 24px;
    }
    .master .changed-section .animated-heading span {
        margin-left: -3px;

    }
    .master .changed-section .sec-1 .content p {
        font-size: 11px;
    }
}
@media (min-width: 576px) {
    .master .changed-section .sec-1 .content h1 {
        font-size: 40px;
    }
    .master .changed-section .animated-heading span {
        margin-left: -6px;
    }
    .master .changed-section .sec-1 .content p {
        font-size: 15px;
    }
}
@media (min-width: 768px) {
    .master .changed-section .sec-1 .content h1 {
        font-size: 40px;
    }
}
@media (min-width: 992px) {
    .master .changed-section .sec-1 .content h1 {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    .master .changed-section .sec-1 .content h1 {
        font-size: 4rem;
        margin-left: 15px;
    }
    .master .changed-section .animated-heading span {
        margin-left: -14px;
    }
    .master .changed-section .sec-1 .content p {
        font-size: 20px;
    }
}
/* End Section-1 */

/* Start Section-2 */
@media (max-width: 576px) {
    .master .changed-section .sec-2 .content {top: 45% !important}
    .master .changed-section .sec-2 img {
        height: 220px;
        width: 220px !important;
    }
    .changed-section .sec-2 .skills h2,
    .changed-section .sec-3 .content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .changed-section .sec-2 .skills .skill h4 {
        font-size: .7rem
    }
}
@media (min-width: 576px) {
    .master .changed-section .sec-2 img {
        height: 100%;
        width:100% !important;
    }
    .changed-section .sec-2 .skills h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .changed-section .sec-2 .skills .skill h4 {
        font-size: .8rem
    }
}
@media (min-width: 768px) {
    .master .changed-section .sec-2 img {
        height:100%;
        width:100% !important;
    }
    .changed-section .sec-2 .skills h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .changed-section .sec-2 .skills .skill h4 {
        font-size: .8rem
    }
}
@media (min-width: 992px) {
    .master .changed-section .sec-2 img {
        height:100%;
        width:100% !important;
    }
    .changed-section .sec-2 .skills h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .changed-section .sec-2 .skills .skill h4 {
        font-size: .8rem
    }
}
@media (min-width: 1200px) {
    .master .changed-section .sec-2 img {
        height:100%;
        width: 100%!important;
    }
    .changed-section .sec-2 .skills h2 {
        font-size: 4rem;
        margin-bottom: 15px;
    }
    .changed-section .sec-2 .skills .skill h4 {
        font-size: .9rem
    }
}
/* End Section-2 */